@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,600,300");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap');

*{
	margin:0;
	padding:0;
	font-family: 'Titillium Web', sans-serif;
}

.container
{
	display: flex;
	flex-flow: row  wrap;
	background-color: rgb(255, 255, 255);
	background-color: #FBE5F9;
	justify-content:center;
	height: 100vh;
	justify-content: center;
}

.item1, .item2, .item3
{
	/* background-color: #2d6120; */
	/* margin: 10px; */
	text-align: center;
	/* background-color: rgb(211, 207, 207); */
	overflow: auto;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	background-size: 125% 125%;
 }

.item1{
		/* flex-grow: 2; */
		position: relative;
			 /* width: 50vw; */
	 /* height: 90vh; */
	 background: white;
	 box-shadow: 4px 8px 16px 0 #1b3b14;
}

.item3{
		flex-grow: 1;
}


.avatar{
	 position: absolute;
	 width: 30vw;
	 height: 60vh;
	 border-radius: 50%;
	 cursor: pointer;
	 /* background: #bee6b4; */
   right: 3vw;
   /* left: 25%; */
}


/***************flex stat***************/

.item2{
		display: flex;
		flex-flow: column;
		background-color: cornsilk;
}

.posts, .likes, .flwrs {
		background-color: beige;
	 background: #cfecc7;
	 box-shadow: 0 -1px white;
	 cursor: pointer;
	 height: 33.3vh;
	 width: 13vw;
}

.stats:hover {
	 background: #bee6b4;
}


.big{
		position: relative;
		top: 3vh;
		font-size: 2vw;
		font-size: 200%;		
		font-weight: 600;
}

.small{
		position: relative;
		top: 10vh;
}

/***********flexbox infos name, buttons************************************/



.container-3
{
		display: flex;
		flex-direction: column;
		/* background-color: chocolate; */
		height: 90vh;
		justify-content:flex-end;
		width: 40vw;
		align-items:center;
		gap: 0.1vh;
}

.btn-flwrs, .btn-Avatar
{
	 padding-top: 2px;
	 text-transform: capitalize;
	 font-size: 1vw;
	 font-weight: 600;
	 color: #2d6120;
	 width: 10vw;
	 height: 55px;
	 background: white;
	 border-radius: 35px;
	 border: none;
	 box-shadow: 0 0 0 1px #2d6120;
	 cursor: pointer;
	 margin: 0.1vw;
}

.btn-flwrs:hover, .btn-Avatar:hover {
	 background: #2d6120;
	 color: white;
}

.item-3-1
{
		/* background-color: aqua; */
		background-color: #F8F9F9;
}


.user-name
{

		font-size: 3vw;
		width: 20vw;
}

@media all and (max-width: 768px)
{

.container
{
	display: flex;
	flex-flow: column  wrap;
	background-color: rgb(255, 255, 255);
	background-color: #FBE5F9;
	justify-content:center;
	height: 100vh;
	justify-content: center;
}

.item1, .item2, .item3
{
	background-color: #2d6120;
	/* margin: 10px; */
	text-align: center;
	/* background-color: rgb(211, 207, 207); */
	overflow: auto;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	background-size: 125% 125%;
	margin: 10px;
 }

.avatar{
		/* display: none; */
	 /* position: absolute; */
	 width: 50vw;
	 height: 30vh;
	 /* border-radius: 50%; */
	 /* cursor: pointer; */
	 /* background: #bee6b4; */
   right: 2%;

}

/* .container-3{ */
/* 		display: none; */

/* } */

.item1{
		flex-grow: 1;
}

.item2{
		display: flex;
		flex-direction: row;
		justify-content:center;
		/* height: 0vh; */
		gap: 0.13vh;
}


.posts, .likes, .flwrs {
	 background: #cfecc7;
	 box-shadow: 0 -1px white;
	 cursor: pointer;
	 height: 20vh;
	 width: 20vw;
}


.container-3
{
		display: flex;
		flex-direction: column;
		background-color: chocolate;
		position: relative;
		height: 2px;
		justify-content:flex-end;
		align-items:center;
		gap: 1vh;
		top:25vh

}


.btn-flwrs, .btn-Avatar
{
	 padding-top: 2px;
	 text-transform: capitalize;
	 font-size: 140%;
	 font-weight: 600;
	 color: #2d6120;
	 width: 20vw;
	 height: 10vh;
	 background: white;
	 border-radius: 35px;
	 border: none;
	 box-shadow: 0 0 0 1px #2d6120;
	 cursor: pointer;
	 margin: 0.1vw;
}

.user-name
{
	 font-size: 140%;
		width: 35vw;
}


.big{
		position: relative;
		top: 3vh;
		/* font-size: 3vw; */
		font-size: 200%;		
		font-weight: 600;
}

.small{
		position: relative;
		top: 3vh;
}

}

@media all and (max-height: 643px)
{

		
.posts, .likes, .flwrs {
	 background: #cfecc7;
	 box-shadow: 0 -1px white;
	 cursor: pointer;
	 height: 20vh;
	 width: 15vw;
}

.big{
		position: relative;
		top: 3vh;
		font-size: 4vh;		
		font-weight: 600;
}

.small{
		position: relative;
		top: 4vh;
		font-size: 1vh;				
}
		


		
}
