body{
    margin: 0;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    display: flex;
}


/* LEFT-BAR */
#left-bars{
    height: 100vh;
    width: 80px;
    background-color: #202225;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
}

#left-bars img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

    padding: 5px ;

    transition: 0.3s;
}

#left-bars img:first-child{
    background-color: #7289DA;
    border-radius: 18px;

    width: 40px;
    height: 40px;
}

#left-bars img:nth-child(8), #left-bars img:nth-child(9),#left-bars img:last-child{
    background-color: #36393f;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-top: 5px;
}

#left-bars img:hover{
    border-radius: 18px;
    transition: 0.3s;
}

#left-bars hr{
    width: 50%;
    border: 1px solid #2D2F32;
}

/* MIDDLE BOX  */
#middle-box{
    height: 100vh;
    width: 250px;

    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#middle-box #search-conversa{
    padding: 15px;

    border-bottom: 1px solid #202225 ;

    margin-bottom: 10px;
}

#middle-box #search-conversa input{
    background-color: #202225;
    width: 210px;

    border-radius: 5px;
    border: none;
    padding: 5px;
}

.btn-nitro-amigo{
    display: flex;
    align-items: center;

    padding: 15px;

    height: 15px;
    width: 200px;
}


.btn-nitro-amigo img{
    height: 25px;
    width: 25px;
}

.btn-nitro-amigo a {
    color: #8e9297;
    text-decoration: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.btn-nitro-amigo:hover{
    background-color: #34373C;
    border-radius: 8px;
}

#mensagens-diretas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 210px;
    height: 20px;

    padding-top: 20px;
}

#mensagens-diretas a{
    text-decoration: none ;
    font-size: 12px;
    font-weight: bold;
    color: #8e9297;
}

#mensagens-diretas :last-child{
    font-size: 16px;
    font-weight: bold;
    color: #D4D5D6;
}



#conversas{
    padding-top: 10px;
    flex: 1;

}


.conversa{
    flex: 1;
    width: 230px;
    height: 40px;

    border-radius: 5px;

    margin-bottom: 2px;

    display: flex;
    align-items: center;

}

.conversa img{
    height: 32px ;
    width: 32px;
    border-radius: 50%;

    margin-left: 5px;
}

.conversa a {
    color: #8e9297;
    font-weight: bold;
    padding-left: 10px;
}


.conversa:hover{
    background-color: #34373C;
    border-radius: 5px;
}

#status{
    height: 50px;
    width: 100%;

    background-color: #292B2F;

}

.content-status{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1; /* pegar todo o espaço dispinível no */
}

.content-status img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#name-id{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    width: 45%;
}

#name-id :first-child{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

#name-id :last-child{
    color:#b9bbbe;
    font-size: 12px;
}

.content-status #icons img{
    height: 20px;
    width: 20px;
}

#icons{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.icon:hover{
    background-color: #34373C;
    border-radius: 5px;
}

/* MAIN MENSAGENS*/
#main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-bar{
    padding: 15px;
    background-color:#36393F;

    border-bottom: 1px solid #202225 ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nome-conversa{
    display: flex;
    align-items: center;

    position: static;
}

#nome-conversa a{
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#buttons-bar{
   flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

#buttons-bar img{
    padding-left: 7px;
    padding-right: 7px;

    height: 25px;
    width: 25px;
}

#buttons-bar :nth-child(4){
    padding-right: 15px;
}

#buttons-bar :nth-child(6){
    padding-left: 15px;
}

#buttons-bar input{
    background-color: #202225;
    border: none;
    border-radius: 5px;

    width: 120px;
    padding: 5px;
}

/* CONTENT */
#profile{
    display: flex;
    flex-direction: column;

    padding-bottom: 10px;

}

#profile img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#profile :nth-child(2){
    font-size: 30px;
    font-weight: bold;
    color: #fff;

    padding-top: 10px;
    padding-bottom: 10px;
}

#profile :nth-child(3){

    color: #b9bbbe;
    font-size: 16px;
}

#risco{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#risco hr{
    border: 1px solid #72767D;
    width: 42%;

}

#risco a{
    color: #72767D;
    font-size: 12px;
    font-weight: bold;
}


#messages{
    display: flex;

}

#messages img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#column-message{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#name-date-message{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name-date-message :first-child{
    padding-right: 10px;

    color: #fff;
    font-weight: bold;
}

#name-date-message :last-child{
    color: #6A6E75;
    font-size: 12px;
}

#message-send a{
    color: #dcddde;
}

#send-message{
    padding-top: 35px;
    padding-bottom: 35px;

    display: flex;
    align-items: center;

    padding-right: 5px;
    padding-left: 5px;
    height: 1695px;
    position: absolute;
}

#send-message img{
    height: 26px;
    width: 25px;

    padding: 11px;

    background-color: #40444B;
}

#send-message :first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#send-message :last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px ;
}


#send-message input{
    height: 32px;
    width: 85%;
    padding: 8px;
    background-color: #40444B;
    border: none;
}

#send-message input::placeholder{
    font-size: 14px;
}


.mao-btn-add-room {
	top: 10px;
	right: 0;
	content: " ";
	width: 25px;
	height: 25px;
	opacity: 0.3;
	transition: opacity 0.2s linear;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTguOTksMy45OUg2LjAxVjEuMDFDNi4wMSwwLjQ1Miw1LjU1OCwwLDUsMFMzLjk5LDAuNDUyLDMuOTksMS4wMVYzLjk5SDEuMDFDMC40NTIsMy45OSwwLDQuNDQyLDAsNWMwLDAuNTU4LDAuNDUyLDEuMDEsMS4wMSwxLjAxSDMuOTlWOC45OUMzLjk5LDkuNTQ4LDQuNDQyLDEwLDUsMTBzMS4wMS0wLjQ1MiwxLjAxLTEuMDFWNi4wMUg4Ljk5QzkuNTQ4LDYuMDEsMTAsNS41NTgsMTAsNUMxMCw0LjQ0Miw5LjU0OCwzLjk5LDguOTksMy45OXoiLz48L3N2Zz4=) no-repeat 50%;
}

.mao-btn-join-room {
	top: 10px;
	right: 0;
	content: " ";
	width: 30px;
	height: 30px;
	opacity: 0.3;
	transition: opacity 0.2s linear;
	background: transparent;
}

#mao-room-names {
	color: #8A8E94;
	overflow: auto;
	overflow-x:auto;
	height: 780px;
}

#mao-room-names :focus {
    background-color: #393C43;
    color: #fff;
}

#test-xibao {
	-webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);

	background-color: #36393F !important;
	background: #36393F !important;
}

.szh-menu {
	background: #36393F;
	color: #fff;
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
	text-align: center;
}

.mao-menu-input::placeholder {
	color: #36393F;
}

#room-participants{
    display: flex;
}

#room-participants img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#room-participants-input {
	width: 30%;
}

#main {
	max-height: 980px;
}

#mao-messages-panel {
	overflow: auto;
	max-height: 800px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px;
    margin: 0px auto;
}

.content{
    flex: 1;
    background-color:#36393F;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2F3136;
    outline-offset: -3px;
    border-radius: 6px;
    outline: rgb(58, 58, 58) solid 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-image: initial;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(58, 58, 58);
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
