body{
    margin: 0;
}

.maobe-container input::placeholder {
	color: #969696;
}

/* html{ */
/*     overflow-y: hidden; */
/*     overflow-x: hidden; */
/* } */

.maobe-container{
    display: flex;
	max-width: 100vw;/*lenox*/
	background-color: #36393f;
    height: 93vh;
	text-align: inherit;
	color: #dcddde;
}

/* LEFT-BAR */
#left-bars{
    height: inherit;
    width: 80px;
    background-color: #202225;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
}

#left-bars img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

    padding: 5px ;

    transition: 0.3s;
}

#join-room-img {
    width: 5vh;
    border-radius: 50%;
    padding: 5px;
}

#left-bars img:first-child{
    background-color: #7289DA;
    border-radius: 18px;

    width: 40px;
    height: 40px;
}

#left-bars img:nth-child(8), #left-bars img:nth-child(9),#left-bars img:last-child{
    background-color: #36393f;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-top: 5px;
}

#left-bars img:hover{
    border-radius: 18px;
    transition: 0.3s;
}

#left-bars hr{
    width: 50%;
    border: 1px solid #2D2F32;
}

/* MIDDLE BOX  */
#middle-box{
    height: inherit;
    padding-left: 2vh;
    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#middle-box #search-conversa{
    padding: 15px;

    border-bottom: 1px solid #202225 ;

    margin-bottom: 10px;
}

#middle-box #search-conversa input{
    background-color: #202225;
    width: 210px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.btn-nitro-amigo{
    display: flex;
    align-items: center;

    padding: 15px;

    height: 15px;
    width: 200px;
}


.btn-nitro-amigo img{
    height: 25px;
    width: 25px;
}

.btn-nitro-amigo a {
    color: #8e9297;
    text-decoration: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.btn-nitro-amigo:hover{
    background-color: #34373C;
    border-radius: 8px;
}

#mensagens-diretas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 210px;
    height: 20px;

    padding-top: 20px;
}

#mensagens-diretas li {
    overflow: auto;
    max-height: 300px;
}

#mensagens-diretas a{
    text-decoration: none ;
    font-size: 12px;
    font-weight: bold;
    color: #8e9297;
}

#mensagens-diretas :last-child{
    font-size: 16px;
    font-weight: bold;
}

.room-participants-mgt {
    overflow: auto;
    max-height: 200px;
}

#conversas{
    padding-top: 10px;
    flex: 1;

}


.conversa{
    flex: 1;
    width: 230px;
    height: 40px;

    border-radius: 5px;

    margin-bottom: 2px;

    display: flex;
    align-items: center;

}

.conversa img{
    height: 32px ;
    width: 32px;
    border-radius: 50%;

    margin-left: 5px;
}

.conversa a {
    color: #8e9297;
    font-weight: bold;
    padding-left: 10px;
}


.conversa:hover{
    background-color: #34373C;
    border-radius: 5px;
}

#status{
    width: 108%;
    background-color: #292B2F;
    position: relative;
	bottom: 0;
}

.content-status{
    padding: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1; /* pegar todo o espaço dispinível no */
}

.content-status img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#mao-leave-button {
	font-size: 0.65rem;
	padding-left: 1vh;
}

#name-id{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    width: 45%;
}

#name-id :first-child{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

#name-id :last-child{
    color:#b9bbbe;
    font-size: 12px;
}

.content-status #icons img{
    height: 20px;
    width: 20px;
}

#icons{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.icon:hover{
    background-color: #34373C;
    border-radius: 5px;
}

/* MAIN MENSAGENS*/
#main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sub-main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#participant-panel {
	background: #2F3136;
	left-padding: 10px;
	padding-left: 2vh;
    padding-right: 2vh;
	overflow: auto
}

#participant-title {
    font-size: 30px;
    font-weight: bold;
    color: #dcddde;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar{
    padding: 15px;
    background-color:#36393F;

    border-bottom: 1px solid #202225 ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nome-conversa{
    display: flex;
    align-items: center;

    position: static;
}

#nome-conversa a{
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#buttons-bar{
	flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

#buttons-bar img{
    padding-left: 7px;
    padding-right: 7px;

    height: 25px;
    width: 25px;
}

#buttons-bar :nth-child(4){
    padding-right: 15px;
}

#buttons-bar :nth-child(6){
    padding-left: 15px;
}

#buttons-bar input{
    background-color: #202225;
    border: none;
    border-radius: 5px;

    width: 120px;
    padding: 5px;
}

/* CONTENT */
#profile{
    display: flex;
    flex-direction: column;

    padding-bottom: 10px;

}



#profile img{
    height: 80px;
    margin-top: 7vh;
    width: 80px;
    border-radius: 50%;
    position: relative;
    left: 47%;
}

#profile :nth-child(2){
    font-size: 30px;
    font-weight: bold;
    color: #fff;

    padding-top: 10px;
    padding-bottom: 10px;
}

#profile :nth-child(3){

    color: #b9bbbe;
    font-size: 16px;
}

#risco{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#risco hr{
    border: 1px solid #72767D;
    width: 90%;
    opacity: 0.25;
}

#risco a{
    color: #72767D;
    font-size: 12px;
    font-weight: bold;
}

#room-greating {
	width: 25%;
    font-size: 1.5vh;
    font-weight: bold;
}

#messages{
    display: flex;
    padding-left: 2vh;
    position: relative;
}

#messages img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#create-room-menu input {
	background: #202225;
	border: 0;
    border-radius: 18px;
}



#edit-room-participant {
    display: flex;
    padding-left: 2vh;
    position: relative;
}

#edit-room-participant img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#create-room-participant {
    display: flex;
    padding-left: 2vh;
    position: relative;
}

#create-room-participant input {
	width: 4vh;
	margin-top: 1.5vh;
}

#create-room-participant label {
	margin-left: 1vh;
	margin-top: 1.5vh;
}

#create-room-participant img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#column-message{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#name-date-message{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name-date-message :first-child{
    padding-right: 10px;

    color: #fff;
    font-weight: bold;
}

#name-date-message :last-child{
    color: #6A6E75;
    font-size: 12px;
}

#message-send a{
    color: #dcddde;
}

/* #send-message{ */
/*     padding-top: 35px; */
/*     padding-bottom: 35px; */

/*     display: flex; */
/*     align-items: center; */

/*     padding-right: 5px; */
/*     padding-left: 5px; */
/*     height: 1695px; */
/*     position: absolute; */
/* } */

#send-message {
    padding-top: 2vh;
    display: flex;
    position: absolute;
	bottom: 0;
	width: 129vh;
		width: 40vw;
	padding: 2vh;
}


#send-message :last-child{
    border-radius: 18px;
    width: 100%;
}


#send-message input{
    height: 5vh;
    width: 85%;
    padding: 8px;
    background-color: #40444B;
    border: none;
}

#send-message input::placeholder{
    font-size: 14px;
	color: #969696;
	opacity: 65%;
}

#search-conversa input::placeholder{
    font-size: 14px;
	color: #969696;
	opacity: 65%;
}

.mao-button {
	background: #7289DA;
	color: #fff;
	padding: 1vh;
	margin: 1vh;
	border-radius: 1vh;
}

.mao-button:hover {
	background: rgb(114 137 218 / 82%);
}

.mao-btn-add-room {
	transition: opacity 0.2s linear;
	background: transparent;
	padding: 0;
}

.mao-btn-join-room {
	opacity: 0.3;
	transition: opacity 0.2s linear;
	background: transparent;
	padding: 0;
}

.mao-btn-edit-room {
	opacity: 0.3;
	transition: opacity 0.2s linear;
	background: transparent;
	padding: 0;
}

#mao-room-names {
	color: #8A8E94;
	overflow: auto;
	overflow-x:auto;
	height: 73vh;
	margin-top: 30px;
}

#mao-room-names :focus {
    background-color: #393C43;
    color: #fff;
}

#test-xibao {
	-webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);

	background-color: #36393F !important;
	background: #36393F !important;
}

#room-names {
	padding-left: 2vh;
}

#edit-room-icon {
	opacity: 0.3;
    height: 2.5vh;
    bottom: -0.2vh;
    position: relative;
}

.szh-menu {
	border: 1vh;
	background: #36393F !important;
	color: #fff;
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
	text-align: center;
}

.szh-menu__item {
    padding-left: 2vh;
    padding-right: 2vh;
    transition: .2s ease; /* move this here from :hover */
}

.participant-context-menu .szh-menu__item:hover {
	background: #5865f2 !important;
	border-radius: 1vh;
}

.mao-select {
	background: #202225;
	padding: 1vh;
	border-radius: 1vh;
	color: #969696;
}

.mao-menu-input::placeholder {
	color: #36393F;
}

.szh-menu input {
	background: #202225;
	color: #969696;
	border-radius: 1vh;
	border: 0;
	/* boid */
}



#room-participants{
    display: flex;
}

#room-participants img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#room-participants-input {
	width: 30%;
}

#mao-messages-panel {
	overflow: auto;
	max-height: 80vh;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    /* max-width: 1920px; */

    margin: 0px auto;
}

.content{
    flex: 1;
    background-color:#36393F;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2F3136;
    outline-offset: -3px;
    border-radius: 6px;
    outline: rgb(58, 58, 58) solid 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-image: initial;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(58, 58, 58);
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


@media all and (max-width: 768px) {
	.maobe-container{
		display: flex;
		flex-direction:column ;
		max-width: 100vw;/*lenox*/
		gap: 10vw;
		align-items: stretch;
		height: auto;
		background-color: #292b2f;
		/* background-color: #36393f;		 */
	}

	/* MIDDLE BOX  */
	#middle-box{
		height: 100vh;
		width: 100vw;
		background-color: #2F3136;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* LEFT-BAR */
	#left-bars{
		width: 100vw;
		background-color: #202225;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;
		padding-top: 10px;
		/* height: 150vh;		 */
	}


	#middle-box {
		width: 100vw;
		background-color: #2F3136;
		display: flex;
		flex-direction: column;
		align-items: center;

		/* height: 60vh; */
	}


	#main {

		display: flex;
		flex-direction: column;
		width: 100vw;
		/* display: none; */


	}

	.top-bar{
		width: 100vw;
	}



	.content {
		background-color: #36393F;

		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
		height: 100vh;
	}

	/* #send-message { */
	/* 	padding-top: 35px; */
	/* 	padding-bottom: 35px; */
	/* 	display: flex; */
	/* 	align-items: center; */
	/* 	padding-right: 5px; */
	/* 	padding-left: 5px; */
	/* 	top: 0%; */
	/* 	width:60%; */
	/* } */

#send-message {
    padding-top: 2vh;
    display: flex;
    position: relative;
    top: 40vw;
    width: 129vh;
    width: 40vw;
    padding: 2vh;
}

	#mao-room-names {
		color: #8A8E94;
		overflow: auto;
		overflow-x:auto;
		margin-top: 30px;
	}
	#participants{
		height: 50vh;
		width: 100vw;
	}
#status {

    display: none;
}
}

.to-Hidden{
		display: none;
}
